.workTiles{
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
}

.workTiles div{
    width: 33%;
}

.workTiles div img{
    width: 90%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.workTiles div a{
    cursor: url('../images/cursorHover.svg'), auto;
}

.topbar{
    font-family: 'Roboto Mono', sans-serif;
    font-weight: 300;
    color: black;
    float: right;
}

.topbar a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-right: 4vw;
}

.topbar a:hover{
    font-weight: 400;
    cursor: url('../images/cursorHover.svg'), auto;
}

.nav{
    padding-bottom: '0px';
    padding-top: 2vw;
    margin-bottom: 2vw;
}

.pageStyles{
    font-family: 'Roboto Mono', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5vw;
    font-size: 16px;
}

.pageStyles a{
    color: black;
    font-weight: 400;
    text-decoration: underline;
}

.pageStyles a:hover{
    font-weight: 600;
    text-decoration: none;
}