.workTiles{
    display: flex;
    margin-left: 0px;
    margin-right: 0px;
}

.workTiles div{
    width: 33%;
}

.workTiles div img{
    width: 95%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.topbar{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    color: black;
    float: right;
}

.topbar a{
    font-size: 20px;
    text-decoration: none;
    color: black;
    margin-right: 4vw;
}

.topbar a:hover{
    font-weight: 600;
}

.nav{
    padding-bottom: '0px';
    margin-top: 2vw;
    margin-bottom: 2vw;
}